html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 480px;
    margin: auto;
    
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-top: 5px;
    margin-bottom: 5px;
}

i{
    font-size: 1rem;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

/* layout */

main, header, footer{
    width: 100%;
    max-width: 480px;
}

header{
    height: 50px;
    text-align: center;
    background-color: rgb(201, 234, 245);
    position: fixed;
    top: 0 auto;
}

main{
    background-color: aliceblue;
    flex-grow: 1;
    padding-top: 49px; /* Account for the header's height (1 short to prevent the line divider from showing at the top) */
    padding-bottom: 120px; /* Account for the footer's height */
    overflow-y: auto;
    width: 100%;

}

footer{
    background-color: rgb(201, 234, 245);
    height: 130px;
    position: fixed;
    bottom: 0;
}

/* textareas + btn */

.message-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.checkbox {
    height: 40px;
    width: 40px;
}

#message-input {
    height: 60px;
    line-height: 1.5rem;
}

#name-input {
    height: 40px;
    margin-top: 0px;
    margin-right: 0px;
    resize: none;
    padding-top: 10px;
}

textarea{
    border: none;
    resize: none;
    padding: 5px;
    margin: 10px;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    margin-right: 10px;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
}

/* messages */

.message{
    border-top: 1px solid lightgray;
    padding: 0 10;
    width: 100%;
}

.message-name{
    font-size: .75rem;
    font-weight: 500;
    color: #555;
}

.message-text{
    line-height: 15px;
}

/* Notification */

#notification{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 10px;
    border-radius: 20px;
}


/* utility */
.hidden{
    display: none;
}

/* media queries */

/* phones */
@media screen and ( max-width: 480px ) {
    
}